<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="supermarket.Properties.Settings.SupermarketConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Supermarket;Persist Security Info=True;User ID=bryce;Password=whoami"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>